---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | Astro Odyssey Theme',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>About Dyana</h1>
			<p>
				Put a blurb about Dyana here.
			</p>
		</div>
    <picture slot="image-container">
      <img
        src="/assets/images/danyprofile.png"
        alt="Astro Odyssee"
        id="home-hero-image"
      />
    </picture>
	</HeroSection>
  <TextSection narrow>
    <p>
      Put a lot of description about Dyana's life, ambitions, and goals here.
    </p>
  </TextSection>
</Layout>
