---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About Dyana',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>About Dyana</h1>
			<p>
				Hi there, I'm Dyana Butler - a writer creating compelling content for clients from various industries.
			</p>
		</div>
    <picture slot="image-container">
      <img
        src="/assets/images/danyprofile.png"
        alt="Astro Odyssee"
        id="home-hero-image"
      />
    </picture>
	</HeroSection>
  <TextSection narrow>
    <p>
      When it comes to writing, I pride myself on my ability to adapt my writing style to different audiences and industries. Whether it's a blog post, a product description, or a technical manual, I can write about any topic with clarity and creativity. I've completed writing projects for clients from various fields, and my attention to detail and professionalism have always been appreciated.

Aside from technical writing, I have been enjoying delving into the world of tooling and automation to make life easier, such as setting up git to streamline my changes to my blogsite you're reading right now!

If you're looking for a writer who can also build you a beautiful website, I'm your go-to person. With my combination of writing skills and technical know-how, I can help you create an online presence that truly represents your brand and attracts your target audience. Let's connect and see how I can help you achieve your goals!
    </p>
  </TextSection>
</Layout>
