---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';

const seo = {
  title: `Dyana Butler | Legal Page`,
  description: `This is the legal page`,
};
---

<Layout seo={seo}>
  <TextSection narrow>
    <h1>Legal Page</h1>

    <p>Live free or die, they say</p>
  </TextSection>
</Layout>