---
import {Icon} from 'astro-icon'
import {
  AnnouncementBar,
	Button,
	CustomerQuoteSection,
	ThreeColumnTextSection,
	YouTubeEmbedSection,
  CtaCardSection,
  Container
} from '@littlesticks/odyssey-theme-components';
import { CollectionEntry, getCollection } from 'astro:content';
import Layout from '../layouts/Page.astro';
import TextAndImageHero from '../components/sections/heros/TextAndImageHero.astro';
import HeroSection from '../components/sections/heros/HeroSection.astro';
import CenterTitle from '../components/sections/heros/CenterTitle.astro';
import Collections from '../components/blog/Collections.astro';
import CollectionList from '../components/blog/CollectionList.jsx';
import '../styles/odyssey-customs.css';

const allBlogPosts = await getCollection('blog', ({ data }) => {
	return !data.hidden;
});
const seo = {
	title: 'Dyana Butler',
	description: 'Work, Blog, and Portfolio of Dyana Butler, get in touch today.',
};
// Code to generate featuredCollections (same as previous implementation)
const featuredCollectionMap = allBlogPosts.reduce((acc, post) => {
  if (post.data.collection) {
    const slugs = Array.isArray(acc[post.data.collection]?.slugs) ? acc[post.data.collection].slugs as string[] : [];
    acc[post.data.collection] = {
      slugs: [...slugs, post.slug],
      collectionThumbnail: post.data.collectionThumbnail ? post.data.collectionThumbnail : acc[post.data.collection]?.collectionThumbnail,
      collectionDescription: post.data.collectionDescription ? post.data.collectionDescription : acc[post.data.collection]?.collectionDescription,
    };
  }
  return acc;
}, {} as Record<string, Record<string, string[] | string | undefined>>);
 
const featuredCollections = Object.fromEntries(
  Array.from(
    Object.entries(featuredCollectionMap).map(([collection, data]) => [collection, data]),
  ),
);

---
<script>
  // Define the behaviour for our new type of HTML element.
  class RizzButton extends HTMLElement {
    constructor() {
      super();
      function getRandomInt(max: number) {
        return Math.floor(Math.random() * max);
      }
      const rizzButton = this.querySelector('button');
      const slugs = this.dataset.blogslugs?.split(',') || ['404']
      rizzButton?.addEventListener('click', () => {
        const redirect = window.location.origin + '/blog/posts/' + slugs[getRandomInt(slugs.length)]
        window.location.href = redirect
      });
    }
  }

  // Tell the browser to use our RizzButton class for <astro-rizzalert> elements.
  customElements.define('astro-rizzalert', RizzButton);
</script>


<Layout seo={seo}>
	<TextAndImageHero reversed>
		<div slot="text-container">
			<h1>Moon Base</h1>
			<p>
        Whether you arrived at this portfolio through a link or stumbled upon it by chance, you have landed in the right place to explore a wealth of samples and my services.</p>
    </div>
		<div slot="btns-container">
      <astro-rizzalert class="rizzalert" data-blogslugs={allBlogPosts.map((b)=>b.slug)}>
			<Button
            class="gradient-1"
            customIcon>
            I'm Feeling Dainty
                <Fragment slot="icon">
                    <Icon name="ic:baseline-chevron-right"/>
                </Fragment>
            </Button
			>
    </astro-rizzalert>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/landing-1/seriousdany.png"
				alt="Dyana Butler headshot"
				id="home-hero-image"
			/>
		</picture>
	</TextAndImageHero>

	<CustomerQuoteSection
		quoteText="From ideation to exection, Dyana stays organized, communicates using some wonderful outlines, and is a pleasure to work with.  When it comes to speed of execution, she gets it"
		customerName="PodRocket host"
	/>

	<!-- <YouTubeEmbedSection url="https://www.youtube.com/watch?v=cbYr75_R15M" rounded /> -->

  <CenterTitle>
    <h1 slot="text-container">Services</h1>
</CenterTitle>
<hr />

<ThreeColumnTextSection>
    <div slot="column-1-body">
        <h2>Writing</h2>
        <p>
          Need traffic-boosting writing for your product or blog? Let's craft a voice and carve out a niche. Contact me.
        </p>
    </div>
    <Button slot="column-1-cta" outlined href="/blog">See Blog</Button>
    <div slot="column-2-body">
        <h2>Design</h2>
        <p>
          From web design to digital art, my services are tailored to help you achieve your online goals and captivate your audience.
        </p>
    </div>
    <Button slot="column-2-cta" outlined href="/intuitive-web">Browse Gallery</Button>
    <div slot="column-3-body">
        <h2>U-G-C</h2>
        <p>
          Experience the benefits of genuine UGC with my services that help you connect with your audience and build brand loyalty.
        </p>
    </div>
    <Button slot="column-3-cta" outlined href="/services/discovery-call">Learn More</Button>
</ThreeColumnTextSection>


  <CtaCardSection background="var(--theme-surface-1)" color="var(--theme-on-surface-1)">
    <h2>Get In Touch With Me</h2>
    <p>
      Don't let complicated outreach hold you back. Reach out to me and I'll be in touch with just a couple of clicks to help you succeed.
    </p>
    <Button href="/dany/contact" customIcon>Get Started <Fragment slot="icon">
      <Icon name="ic:baseline-chevron-right"/>
    </Fragment></Button>
  </CtaCardSection>

</Layout>

